* text=auto
*.php text eol=lf
*.json text eol=lf
*.md text eol=lf
*.yml text eol=lf
/.github export-ignore
/tests export-ignore
/phpunit.xml export-ignore
/.gitignore export-ignore
/.gitattributes export-ignore
